/* Polices de caractère */
@font-face {
    font-family: 'Rajdhani', sans-serif;
    src: url('./fonts/Rajdhani-Regular.ttf') format('truetype');

    font-family: 'Barlow', sans-serif;
    src: url('./fonts/Barlow-Regular.ttf') format('truetype');

}


body {
    display: flex;
    flex-direction: column;
    font-family: Rajdhani, Barlow, sans-serif;
}

header {
    /* Header dimensions */
    height: fit-content;
    width: auto;   
    margin: 5px;
    padding: 5px;

    /* Header colors */
    background-color: #262526FF;
    color: #D92332FF;

    /* Header arrangement */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logoGarage {
    height: 75px;
    width: auto;
}

footer {
    /* Footer dimensions */
    height: fit-content;
    width: auto;   
    margin: 5px;
    padding: 5px;

    /* Footer colors */
    background-color: #262526FF;
    color: #D92332FF;

    /* Footer arrangement */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}